
# Put only whitelisted things in the Docker build context.
# First remove everything:
*

# Now explicitly add the source code, Cargo files and readme:
!Cargo.toml
!Cargo.lock
!rustfmt.toml
!.cargo/
!src/
!README.rst
!LICENSE.txt
