
# Put only whitelisted things in the Docker build context.
# First remove everything:
*

# Now explicitly add the source code, Cargo files and readme:
!Cargo.toml
!Cargo.lock
!rustfmt.toml
!deny.toml
!src/
!README.rst
!LICENSE.txt
!ci/extra_checks.sh
